@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@400;700&display=swap');

body    {
    color: white;
    margin: 20px;
    background-image: url(/img/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.body   {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.texts  {
    margin-top: 100px;
}

.forms  {
    margin-left: 80px;
    margin-top: 15px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.14)
}

h1  {
    font-size: 45px;
    font-weight: 900px;
    line-height: 50px;
    margin-bottom: 19px;
}

.top   {
    font-size: 15px;
    line-height: 25px;
    margin-top: 0px;
}
#p-action {
    margin-left: 125px;
    font-style: italic;
}
#p-action2 {
    margin-left: 125px;
    font-style: italic;
}
#p-action3 {
    margin-left: 123px;
    font-style: italic;
}
#p-action4 {
    margin-left: 125px;
    font-style: italic;
}

.action {
    font-size: 9px;
    line-height: 0px;
    color: hsl(0, 100%, 74%);
    visibility: hidden;
}

.show {
    visibility: visible;
}

.button-p   {
    font-size: 6px;
    margin-left: 35px;
    color: hsl(246, 25%, 77%);
}

button  {
    padding: 15px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10px;
    border: hidden;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-size: 13px;
    cursor: pointer;
}

span    {
    color: hsl(0, 100%, 74%);
}

.upper-span  {
    font-weight: bold;
    color: white;
}

.upper-button    {
    background-color: hsl(248, 32%, 49%);
    margin-left: 80px;
    margin-bottom: 0px;
    padding: 15px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 13px;
    box-shadow: 1px 5px rgba(0, 0, 0, 0.14);
}

/* forms */

input   {
    padding: 10px 75px;
    padding-left: 20px;
    font-size: 13px;
    border-radius: 5px;
    border: solid 1px;
    display: block;
}

/* img */

label   {
    position: relative;
}

.label-class:before    {
    content: "";
    position: absolute;
    left: 190px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background: url(/img/icon-error.svg)   no-repeat  30px;
    visibility: visible;
}

/* media query */

@media (max-width: 376px) {
    body    {

    }
    .body   {
        display: block;
    }
    p  {
        font-size: 16px;
        text-align: center;
    }
    h1      {
        font-size: 26px;
        text-align: center;
        font-weight: bold;
    }
    .texts  {
        margin-bottom: 70px;
    }
    .upper-button   {
        padding: 20px;
        margin-left: 34px;
    }
    input  {
        padding-right: 70px;
    }
    .forms  {
        margin-left: 10px;
        padding-left: 37px;
    }
    button  {
        font-size: 12px;
    }
}
